<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ksiazka</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Ksiazka</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <form class="form-inline my-5 my-lg-0" method="get" asp-page="/Przepisy/SzukaniePrzepisu">
                        @Html.Editor("Wyszukiwarka", new { htmlAttributes = new { @class = "form-control", placeholder = "Wpisz nazwę potrawy.." } })
                        <button type="submit" name="submit" value="Wyszukiwarka" class="btn btn-info form-control ">
                            <i class="fa fa-search" aria-hidden="true"> Szukaj</i>
                        </button>
                        <div>
                </div>
                </form>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <div class="mynav_navbar">
                            <a class="nav-link text-dark" style="background-color:white" asp-area="" asp-page="/Index">Strona główna</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="mynav_navbar">
                            <a class="nav-link text-dark" style="background-color:white" asp-area="" asp-page="/Przepisy/Przepisy">Przepisy</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <div class="mynav_navbar">
                            <div class="mynav_dropdown">
                                <a class="nav-link text-dark" style="background-color:white" asp-area="" asp-page="index">Kategorie</a>
                                <div class="mynav_dropdown-content">
                                    <form class="form my-5 my-lg-0" method="get" asp-page="/Przepisy/SzukaniePrzepisu">
                                        <input class="form-control"
                                               name="Wyszukiwarka"
                                               type="submit"
                                               value="Śniadanie" />

                                        <input class="form-control"
                                               name="Wyszukiwarka"
                                               type="submit"
                                               value="Obiad" />

                                        <input class="form-control"
                                               name="Wyszukiwarka"
                                               type="submit"
                                               value="Kolacja" />

                                        <input class="form-control"
                                               name="Wyszukiwarka"
                                               type="submit"
                                               value="Deser" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Ksiazka - <a asp-area="" asp-page="/Privacy">Polityka prywatności</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
